

.centercontent {	 
   text-align: center;
}

.headbox
{
	display: inline-block;
	min-width:800px;
	max-width:800px;
	min-height: 50px; 
	background-color: #ffffff;  
	border: 1px solid #e4e2e2; 
	border-radius: 10px;
	padding: 4px 4px 4px 4px;
}


.whitebox
{
	display: inline-block;
	min-width:800px;
	max-width:800px;
	min-height: 500px; 
	background-color: #ffffff;  
	border: 1px solid #e4e2e2; 
	border-radius: 10px;
	padding: 4px 4px 4px 4px;
}

.graybox
{
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	background-color: #fcfcfc;  
	border: 1px solid #e4e2e2; 
	border-radius: 10px;
}

.folder
{
	text-align: left;
	min-height: 32px;
	border: 1px solid #f8f8f8;
	margin: 4px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	display: block; 
	background-color: #f8f8f8;
}

.file
{
	text-align: left;
	border-bottom: 1px solid #f8f8f8;
	margin: 4px 0px 0px 0px;
	padding: 2px 0px 6px 0px;
	display:block; 
}

.name 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 8px 0px 8px 0px;	
	color: #6e6e6e;	
}

.title
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;	
}

.folderPath
{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	margin: 8px 2px 0px 2px;
	font-weight: bold;
}

.nomtext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;	
	color: #6e6e6e;	
}

.linkfolder
{
	text-decoration:none;
}	

.icon
{
	width: 32px;
	height: 32px;
	display: inline-block; 
	float:left;
	text-decoration:none;
	margin-left:8px;
	margin-right: 8px;		
}

.iconHead
{
	background-color: white;
	border: solid #cccccc 1px;
	width: 32px;
	height: 32px;
	display: inline-block; 
	float:left;
	text-decoration:none;
	margin-left:6px;
	margin-right: 8px;		
}

.icon24
{
	min-width: 24px;
	height: 24px;
	display: inline-block; 		
	text-decoration:none;      
	margin: 4px 4px 0px 4px;
}

.file-actions
{
	min-width: 96px;
	height: 32px;		
	float:right;
	background-color: #f8f8f8;
	text-decoration:none;
}

.folder-actions
{
	/*min-width: 96px;*/
	height: 32px;		
	float: right;
	background-color: #f8f8f8;
	text-decoration:none;
	display:inline-block; 
}

.ico-folder
{
	background:url('../images/folder.png');
}

.ico-file
{
	background:url('../images/file.png');
}

.icotop
{
	background:url('../images/top.png');
}

.icosup
{
	background:url('../images/back.png');
}

.ico-delete
{
	background:url('../images/delete-24.png');
}

.ico-rename
{
	background:url('../images/rename-24.png');
}

.ico-download
{
	background:url('../images/download-24.png');
}

.ico-upload
{
	background:url('../images/upload-file-24.png');
}

.ico-add-folder
{
	background:url('../images/add-folder-24.png');
}

.button 
{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  cursor: pointer;
}

input[type=submit] {   
    cursor:pointer;   
}